#album-cover-img{
}
#background{
    background-color:white;
}
MainWindow{
}
IconButton{
    background-color: #DDDDDD;

    border: 1px solid #222831;
    border-radius: 10px;
}
#csv-selection {
    background-color: #DDDDDD;
    border-radius: 10px;
}
#generate-list-button{
    background-color: #F05454;
    color: #222831;
    border-radius: 10px;
}
#seeker-input{
    background-color: #DDDDDD;
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
}
#search-button{
    background-color: #F05454;
    color: #222831;
    border-radius: 10px;
    height: 10px;
}
#csv-viewer{
    background-color: #222831;
    color: #EEEEEE;
    border-radius: 10px;
    padding: 16px;
}
QTableView::item {
    color: #DDDDDD;                    
    background-color: #181c22;
    margin-top: 5px;          
    border-radius: 10px;
    padding: 10px;
}

QTableView::item:hover {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #DDDDDD;
    color: black;
}

